.draggable {
  -webkit-app-region: drag;

}

.clickable {
  -webkit-app-region: no-drag;
  pointer-events: all;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 0px;    /* Hides vertical scrollbar */
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgb(134, 134, 134);
  border-radius: 4px;
}
*::-webkit-scrollbar-corner {
  background: transparent;
}


/* MGc-aYY_J47mvHC */

/* _jVqCVa@*5!hZ-* */
