.draggable {
  -webkit-app-region: drag;

}

.clickable {
  -webkit-app-region: no-drag;
  pointer-events: all;
}

/* Hide number input spinners for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*
*::-webkit-scrollbar {
  height: 10px;
  width: 0px;
  background: transparent;
} */

/* *::-webkit-scrollbar-thumb {
  background: rgb(134, 134, 134);
  border-radius: 4px;
} */
/* *::-webkit-scrollbar-corner {
  background: transparent;
} */


/* MGc-aYY_J47mvHC */

/* _jVqCVa@*5!hZ-* */
